[submodule "internal/service/collectionservice"]
	path = internal/service/collectionservice
	url = git@github.com:zhshih/collectionservice.git
[submodule "internal/service/dataservice"]
	path = internal/service/dataservice
	url = git@github.com:zhshih/dataservice
[submodule "cloudservice"]
	path = cloudservice
	url = git@github.com:zhshih/cloudservice
[submodule "internal/service/cloudservice"]
	path = internal/service/cloudservice
	url = git@github.com:zhshih/cloudservice
